#seller-topnav .navbar-nav {
	display: flex !important;
	justify-content: space-around !important;
	flex-grow: 1;
}

#seller-sidenav {
	padding: 0.8rem 0.6rem !important;
	position: fixed;
	width: 250px;
	height: calc(100vh);
	overflow: hidden;
	transition: all 0.5s ease;
	padding-left: 10 !important;
	padding-right: 10 !important;
	padding-top: 50px !important;
	top: 0;
}

#seller-topnav a {
	font-size: 1rem;
	z-index: 1;
}

.seller-sidebar {
	position: relative;
	margin-right: 250px;
}

.seller-sidenav-items {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
}

.seller-sidenav-items i {
	font-size: 1.2rem;
}

.seller-sidenav-items p {
	margin: 0;
	font-size: 1.2rem;
}

.seller-sidenav-text {
	display: block;
	justify-self: center;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 1rem;
}

.seller-sidenav-profile i {
	font-size: 30px;
	margin-right: 30px;
}

#seller-sidenav-logout-item {
	cursor: pointer;
}

@media (max-width: 766px) {
	#seller-sidenav {
		width: 75px;
		overflow: visible;
	}
	.seller-sidenav-text,
	#dropdownUser1::after {
		display: none;
	}
	.nav-item > .nav-link {
		padding-left: 0;
		padding-right: 0;
	}

	.seller-sidenav-items i,
	.seller-sidenav-profile i {
		font-size: 2rem;
		margin-left: 0.5rem;
	}
}
