#admin-topnav .navbar-nav {
	display: flex !important;
	justify-content: space-around !important;
	flex-grow: 1;
}

#admin-topnav .navbar-nav li:hover {
	cursor: pointer;
}

.adminNavTopName,
.adminNavBottomName {
	text-decoration: none;
}

#admin-sidebar-dropdown-wrapper {
	overflow: visible;
}

#admin-sidebar-dropdown-wrapper a,
#admin-sidebar-dropdown-wrapper div {
	color: #c2c7d0;
	cursor: pointer;
}
