.acdForm {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}

.acdFormItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.25rem;
}

.acdForm > .btn {
	align-self: center;
}
