#login-form-wrapper {
	height: calc(100vh - (56px));
	padding-bottom: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-homescreen-wrapper {
	height: calc(100vh - 56px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

#main-homescreen-wrapper > h1 {
	font-size: 7rem;
}
