#store-top-sitenav a {
	padding: 0 !important;
}

#store-top-sitenav a:hover {
	opacity: 0.7;
}

.footer-bottom {
	padding: 5px;
}

#footer-bottom-credit-cards {
	display: flex;
	gap: 2rem;
}

#footer-bottom-credit-cards i {
	font-size: 20px;
}

#store-footer li {
	list-style: none;
	margin-bottom: 0.3rem;
}

#store-footer li a {
	text-decoration: none;
}

#store-footer h5 {
	text-align: center;
	margin-bottom: 1rem;
}

#store-footer .list-menu {
	padding-top: 0.5rem;
}

#contact-list span {
	margin-left: 0.7rem;
}

.dark-link-text ul .nav-link,
.dark-link-text li .nav-link,
.dark-link-text #store-name,
#store-footer.dark-link-text a {
	color: rgba(0, 0, 0, 1) !important;
}

.white-link-text ul .nav-link,
.white-link-text li .nav-link,
.white-link-text #store-name,
#store-footer.white-link-text a {
	color: rgba(255, 255, 255, 1) !important;
}

.dark-link-text ul .nav-link:hover,
.dark-link-text li .nav-link:hover,
.dark-link-text #store-name:hover,
#store-footer.dark-link-text a:hover {
	opacity: 0.7;
}

.white-link-text ul .nav-link:hover,
.white-link-text li .nav-link:hover,
.white-link-text #store-name:hover,
#store-footer.dark-link-text a:hover {
	opacity: 0.7;
}

.form-check {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

.form-switch .form-check-input {
	position: relative;
	height: 24px;
	width: 48px;
	border: 2px solid #17025f;
	cursor: pointer;
}
.form-switch .form-check-input:focus {
	border-color: rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.form-switch .form-check-input:checked {
	background-color: #17025f;
	border-color: #17025f;
	border: none;
}

#store-footer .navbar-nav .nav-item {
	margin-bottom: 0;
}

#store-topnav-second {
	border-bottom: 2px solid gray;
	overflow: hidden;
}

#store-footer {
	border-top: 1px solid gray;
}

.store-nav-light {
	background: rgba(0, 0, 0, 0.08) !important;
}

.store-navbar-light {
	background: rgba(0, 0, 0, 0.1) !important;
}

.navbar-toggler-light {
	border: 2px solid gray;
}

#store-topnav-main-items {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}

#store-topnav-second ul {
	display: flex;
	flex-grow: 1;
	justify-content: space-evenly;
}

#store-topnav-cart-button li,
#store-topnav-profile-button li {
	text-align: center;
	cursor: pointer;
}

#store-minicart-gotocart-link,
.store-minicart-product-link {
	color: inherit;
	text-decoration: none;
}

#store-minicart-gotocart-link:hover,
.store-minicart-product-link:hover,
.store-minicart-clear-button:hover {
	color: inherit;
	opacity: 0.7;
}

.cartitem-productname {
	display: flex;
	justify-content: space-between;
	padding-left: 0.6rem;
	padding-right: 0.5rem;
}
