.table-body {
	/* margin-left: 270px !important; */
	margin: 20px;
}

#table-data {
	margin: 0;
}

.thead-buttons {
	margin-right: 10px;
}

.minicart-button {
	padding: 5px 10px !important;
}

.table-buttons {
	padding-top: 7px !important;
	padding-bottom: 7px !important;
}

.table-buttons > .btn {
	padding: 5px 10px !important;
	margin-right: 10px;
}

.navbar-buttons {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	color: rgba(0, 0, 0, 0.9);
	gap: 10px;
}

.navbar-buttons > .btn {
	padding: 5px 10px !important;
}

.nav-search {
	display: flex;
	gap: 10px;
}

.form-input {
	width: 250px;
}

#trashIcon {
	margin-right: 10px;
	margin-left: -3px;
}

#miniCartBadge {
	margin-left: auto;
}

.miniCartDropdownItem {
	display: flex !important;
	justify-content: space-between;
}

#miniCartLink {
	text-decoration: none;
}

.modal-footer {
	flex-wrap: nowrap !important;
}

.table-navbar-sort-by {
	display: flex;
	gap: 1rem;
}

.table-navbar-sort-by-left-flex {
	display: flex;
	gap: 0.5rem;
}

.table-navbar-sort-by-left-top,
.table-navbar-sort-by-left-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}

.table-navbar-sort-by-left-top > label,
.table-navbar-sort-by-left-bottom > label {
	white-space: nowrap;
	margin-bottom: 0;
}

.table-navbar-sort-by-left-top > select,
.table-navbar-sort-by-left-bottom > select {
	/* text-align: center; */
	width: 8rem;
	padding: 3px 6px;
}

.table-navbar-sort-by input,
.table-navbar-sort-by button {
	padding: 3px 6px;
}

#table-nav-pagination {
	justify-content: center;
	gap: 0.5rem;
}

.pagination-list {
	margin: 0;
	flex-wrap: wrap;
}

.page-item.active .page-link {
	color: #fff !important;
	background: #f00 !important;
}

#table-nav-pagination .page-link:focus {
	box-shadow: none !important;
	/* border-color: transparent !important; */
}

#table-nav-pagination li {
	margin: 0;
}

#table-nav-pagination-select-pageSize {
	width: 5.8rem;
	height: 34px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#table-pagination-custom-page-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.3rem;
}

#table-pagination-custom-page-list-item > a::after {
	display: none;
}

#table-pagination-custom-page-list-item > ul {
	position: absolute;
	inset: auto;
	width: 120px !important;
	min-width: 0 !important;
}

#table-pagination-custom-page-button > input {
	width: 50%;
}

#table-pagination-custom-page-button > label {
	margin: 0;
}

#table-pagination-custom-page-button > button {
	padding: 5px 10px;
}

#table-nav-pagination-select-currentPage > p {
	margin: 0 !important;
}
