.modal-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}

.modal-form-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.25rem;
}

.modal-form > .btn {
	align-self: center;
}

.modal-form-footer {
	flex-wrap: nowrap !important;
}

.form-input {
	width: 100%;
}

.get-entity-to-update-button,
.get-entity-to-delete-button {
	margin-top: 0.5rem;
	padding: 5px 10px;
	font-size: 0.9rem;
}
